@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic');

$purple: #8a4d76;
$primary: $purple;

$radius-small: 0;
$radius: 0;
$radius-large: 2px;

$family-sans-serif: 'Roboto', sans-serif;
//@import "./helpers.scss";
@import '../../node_modules/bulma';
@import '../../node_modules/bulma-helpers';

.full-height {
  height: 100vh;
}
